.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.textWhite {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}

.textWhiteLogo {
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
}

.textWhiteIcon {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
}

.largeIcon {
  font-size: 2rem;
}
