.customErrPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/images/scene/custom404.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'DotGothic16', sans-serif !important;
}

.customErrBox {
  background-color: black;
  border: 2px solid white;
  border-radius: 8px; /* 角をちょっと丸くする */
  font-family: 'DotGothic16', sans-serif !important;
  padding: 3rem; /* ボックス内の余白をつけます */
  color: white; /* テキストの色を白にします */
}
